body { background: #e6f7ff !important; }

.navbar-default {
  background-color: #403a3a;
  border-color: #dd5e25;
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 4px;
  margin-bottom: 0;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f9f9f9;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #403a3a;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f9f9f9;
  background-color: #dd5e25;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #dd5e25;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f9f9f9;
  background-color: #dd5e25;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f9f9f9;
  background-color: #dd5e25;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f9f9f9;
  background-color: #dd5e25;
}
.navbar-default .navbar-toggle {
  border-color: #dd5e25;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dd5e25;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #f9f9f9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f9f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f9f9f9;
    background-color: #dd5e25;
  }
}

i:hover {
  color: #dd5e25;
}

.custom-splash {
  display: flex;
  align-items: center;
  background-size: cover;
  height: 400px;
  text-shadow: -1px 0 #000000, 0 -1px #000000;
  border-bottom: 4px solid #dd5e25;
  margin-bottom: 0;
  color: #ffffff;
}

.custom-content {
  background-size: cover;
  margin-bottom: 0;
  border-bottom: 2px solid #dd5e25;
}

@font-face {
  font-family: Futura;
  src: url(../fonts/ufonts.com_futura-medium.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, Helvetica, sans-serif;
}
p, div {
  font-family: Futura, Helvetica, sans-serif;
}

hr-black {
  display: block;
  height: 0px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0; 
}

hr-grey {
  display: block;
  height: 0px;
  border: 0;
  border-top: 1px solid #bfbfbf;
  margin: 1em 0;
  padding: 0; 
}